body, main {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

#visualizationCanvas {
  width: 300px;
  height: 100px;
  border: 1px solid #ccc;
  margin-top: 20px;
}
